/*Gallery Styles*/


.og-grid {
	list-style: none;
	margin: 0 auto;
	/*text-align: center;*/
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 220px;	
}

.og-grid li > a,
.og-grid li > a .thumb {
	/*border-radius:50%;*/
	box-shadow: inset 0 0 0 0 rgba(27,170,143, 0.5);
	height: 220px;
	width:220px;
	border: none;
	outline: none;
	display: block;
	position: relative;
	cursor: pointer;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.og-grid li > a .thumb {
	display:table;
	box-shadow: inset 0 0 0 2px rgba(215,215,217, 1);
}

.og-grid li > a .thumb:hover {
	box-shadow: inset 0 0 0 110px rgba(27,170,143, 0.75);
}

.og-grid li > a .galinfo{
	font-weight:400;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	height:220px;
	width:220px;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	opacity:0;
	
}

.og-grid li > a .galinfo:hover{
	opacity:1;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #1baa8f;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #1baa8f;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander *, .og-expander *:after, .og-expander *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.og-expander-inner {
	margin-left:auto;
	margin-right:auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width:940px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}


.og-details {
	width: 33%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.og-fullimg {
	width: 66%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 400;
	font-size: 21px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
	color: #fff;
}

.og-details p {
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}


/*Gallery Thumbnails*/

.gal01{
	background-image:url(../images/thumbs/01.png);
}
.gal02{
	background-image:url(../images/thumbs/02.png);
}
.gal03{
	background-image:url(../images/thumbs/03.png);
}
.gal04{
	background-image:url(../images/thumbs/04.png);
}
.gal05{
	background-image:url(../images/thumbs/05.png);
}
.gal06{
	background-image:url(../images/thumbs/06.png);
}
.gal07{
	background-image:url(../images/thumbs/07.png);
}
.gal08{
	background-image:url(../images/thumbs/08.png);
}