@font-face
{
font-family: sourceSansPro;
src:url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}


/* ------ DEFAULTS ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	color:#fff;
	text-decoration: none;
	display:block;
	height:100%;
	width:100%;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

/* ------ BOILERPLATE TEMPLATE ------ */

body{
	font-family:'Source Sans Pro', sourceSansPro, sans-serif;
	color: #008bb0;
}

.wrapper{
	width:95%;
	margin: 20px auto 0 auto;
	padding: 0 10px 0 10px;
}

.controls{
	display: inline-block;
	width: 100%;
	margin: 0 0 30px;
	vertical-align: top;
}

.controls li{
	display: inline-block;
	margin-right: 20px;
	color: #008bb0;
}

.controls li.active{
	font-weight: 700;
}

hr{
	margin: 0 0 30px;
	height: 0;
	border: 0 none;
	border-top: 1px solid #eee;
}

#Grid{
	text-align: center;
	font-size: 0.1px;
	

}

#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
}

#Grid .mix{
	display: none;
	opacity: 0;
	width: 225px;
	height: 225px;
	vertical-align: top;
	margin-right:10px;
	margin-bottom: 10px;
	background: #fff;
	color: #fff;
	overflow:hidden;
	
	font-size: 30px;
	text-align: center;
	line-height: 200px;
}

#Grid .gap{
	display: inline-block;
	width: 225px;
	margin: 10px;
}

/*------ CUSTOM STYLES ------------*/

#bmc_header{
	display:table;
	background-image: url(../images/bg_application1.jpg);
	width: 100%;
	height:118px;
	background-repeat: no-repeat;
	padding-left: 2.5%;
}

.bmc_wrapper {
	display: table-cell;
	vertical-align:middle;
	width: 95%;	
	text-shadow: 2px 2px rgba(0,0,0, .2);
	font-weight: 300;
	color: #fff;
	font-size: 36px;	
}

.bmc_top{
	font-size:28px;
}
